.stotal{
    margin-left: 66%;
    margin-top: 1%;
    font-size:19px;
}
.totalcost{
    margin-left: 80%;
    margin-top:-2.9%;
    font-size:25px;
}
.cartbox{
    border: 1px solid black;
    width:70%;
    height:50px;
    margin-bottom: 1%;
    margin-left:15%;
    overflow:hidden;
}
.ysc{
    margin-left:15%;
    margin-bottom: 2%;
    font-size: 30px;
    margin-top:2%;
    display:flex;
    flex-flow: row;
    

}
.iconshop{
    margin-left: 3%;
}

.checkoutbtn{
    background-color :rgb(71, 94, 71);
    height:40px;
    width: 10%;
    color:white;
    margin-top: 3%;
    color: white;
    font-size:19px;
    /* border-radius:7px; */
    margin-left: 15%;
    margin-bottom: 3%;
}
.return{
    margin-top: 9%;
    color: black;
    margin-left: 15%;
    display: flex;
    flex-flow: row;
}
.viewlist{
    color: black;
    margin-left: 37%;
    margin-top: -2%;
    display: flex;
    flex-flow: row;
}
.area{
    height: 150vh;
    width: 100vw;
}