
.container{
    
    display:grid;
    height:100vh;
    width:100vw;
grid-template-columns: 5fr 20fr 20fr 5fr;
grid-template-rows: 100fr 5fr 100fr 5fr 100fr ;
grid-template-areas: ". col1 col2 ."
                    ". . . ."
                     ". col3 col4 ."
                     ". . . ."
                     ". col5 col6 .";
/* background-color:rgb(185, 169, 169); */
background-size: cover;



                    
}


.img1{
    grid-area: col1;
    background-size:100% 100%,cover;
    overflow:hidden;
    /* width:80%;
    
    box-shadow: 1px 2px #327232; */
    /* background-image: url("E:/cardboardwebsite/client/src/Images/burger.jpg"); */

}
.img{
    background-size: 100% 100%,cover;
    width: 100%;
    height:100%;
    cursor: pointer;
    
    

}
.para{
    overflow:hidden;
    color:gray;
    
}
.para1{
    grid-area: col2;
    overflow:hidden;
    margin-top: 5%;

}
.img2{
    grid-area: col4;
    overflow:hidden;
    background-size: 100% 100% ,cover;
}
.para2{
    grid-area:col3;
    overflow:hidden;
    margin-top: 5%;
}
.img3{
    grid-area:col5;
    background-size: 100% 100% ,cover;
    overflow:hidden;
}
.para3{
    grid-area:col6;
    overflow:hidden;
    margin-top: 5%;
}
.container2{
    height: 6vh;
    width:10vw;
    background-color:rgb(63, 109, 67);
    color: rgb(252, 248, 248);
    margin-left: 45%;
    border-radius:5px;
}
/* .cont1{
    height: 30vh;
    background-color: aquamarine;
    width: 100%;
    
} */
.cont1{
    display:"none";
    
 
    display:grid;
    height:100vh;
    width:100vw;
grid-template-columns: 5fr 20fr 20fr 5fr;
grid-template-rows: 70fr 5fr 70fr 5fr 70fr ;
grid-template-areas: ". col7 col8 ."
                    ". . . ."
                     ". col9 col10 ."
                     ". . . ."
                     ". col11 col12 .";
/* background-color:rgb(185, 169, 169); */
background-size: cover;
}
.i1{
    grid-area:col8;
    background-size:cover;
    overflow:hidden;
}
.i2{
    grid-area:col9;
    background-size:100% 100%,cover;
    overflow:hidden;
}
.i3{
    grid-area:col12;
    background-size:100% 100%,cover;
    overflow:hidden;
}
.p1
{
    grid-area: col7;
    margin-top: 5%;
    
}
.p2{
    grid-area:col11;
    margin-top: 5%;
    
}
.p3{
    grid-area:col10;
    margin-top: 5%;
    
}
.imgagee{
    background-size: 100% 100%,cover;
    width: 100%;
    height:100%;
    cursor: pointer;
}
#cont{
    display: none;
}
.head{
    font-size: 50px;
    /* color: rgb(180, 172, 172); */
    margin-left:42%;
    color:rgb(63, 109, 67);
    margin-top: 5%;
    
}
.head2{
    font-size: 30px;
}