.valcont{
    display:grid;
    height:70vh;
    width:100vw;
grid-template-columns: 5fr 20fr 20fr 20fr 20fr 20fr 5fr;
grid-template-rows: 50fr 50fr ;
grid-template-areas: ". col1 col2 col3 col4 col5 ."
                   " . col6 col7 col8 col9 col10 ." ;
                    
/* background-color:rgb(185, 169, 169); */
background-size: cover;
margin-top: 3%;
}
.v1{
    grid-area: col1;
    overflow:hidden;
    width:80%;
    height:80%
}
.vp1{
    grid-area:col6;
    width: 70%;
    margin-left: 10%;
}
.v2{
    grid-area:col2;
    overflow:hidden;
    width:70%;
    height:70%
}
.v3{
    grid-area:col3;
    overflow: hidden;
    width:70%;
    height:70%
}
.v4{
    grid-area:col4;
    overflow:hidden;
    width:70%;
    height:70%
}
.v5{
    grid-area:col5;
    overflow:hidden;
    width:70%;
    height:70%
}
.vp2{
    grid-area:col7;
   width: 70%;
   margin-left: 10%;
}
.vp3{
    grid-area: col8;
    width: 70%;
    margin-left: 10%;

}
.vp4{
    grid-area:col9;
    width: 70%;
    margin-left: 10%;
}
.vp5{
    grid-area:col10;
    width: 70%;
    margin-left: 10%;
}